<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <title>頑張りマッスル</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/loader.css" rel="stylesheet">
    <script src="./static/js/chart.min.js"></script>
    {% block extendheader %}{% endblock %}
</head>
<body>
<div class="loader-container">
    <img src="./static/img/favicon.png" class="loader-logo" alt="Loading...">
</div>

<nav class="navbar navbar-expand-lg navbar-default bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/play">
            <img src="./static/img/favicon.png" width="45px"></img>
        </a>
    </div>
</nav>

{% block body %}{% endblock %}
<script src="./static/js/bootstrap.bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".loader-container").style.display = 'none';
});
</script>
</body>
</html> 
