{% extends "base.html" %}

{% block extendheader %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<style>
    #video {
        transform: scaleX(-1);
    }
</style>
{% endblock %}


{% block body %}
<style>
    .start-btn {
        margin: 10px;
    }
    .image-container {
        position: relative;
        text-align: center;
        color: white;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 180px;
        font-weight: bold;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* 半透明なグレー */
        color: white; /* オーバーレイ上のテキストの色 */
        display: flex;
        align-items: center; /* 中央揃え（垂直） */
        justify-content: center; /* 中央揃え（水平） */
    }
</style>

<div class="text-center">
    <h2>Play</h2>
</div>

<div class="image-container">
    <video id="video" width="720" autoplay class="image-container"></video>
    <div id="overlay"><div id="countdown" class="centered-text"></div></div>
</div>

<div class="text-center start-btn">
    <button id="startBtn" type="button" class="btn btn-primary">Start</button>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
